@import "../sass/variables";

.chat {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    color: white;
    user-select: none;
    cursor: pointer;
    background-color: $color-lighter;

    &__thumbnail {
        width: 25px;
        height: 25px;
        margin-right: 1rem;
        object-fit: cover;
    }
       

    &__title {
        font-size: 0.75rem;
    }
        

    &_selected {
        background-color: $color;
    }       
}
    
    
    
