@import "../sass/variables";

.message {
  margin-bottom: 1rem;
  max-width: 45%;

  &:last-child {
    margin-bottom: 0;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__sender {
    color: $color;
    font-size: 0.75em;
    font-weight: bold;
  }

  &__updated-at {
    font-size: 0.75em;
  }
}
