@import "normalize.css/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400;700&display=swap");
@import "sass/variables";

:root {
    font-family: 'Tektur', cursive;
    font-size: 18px;
}
    

#root {
    min-height: 100vh;
}
    

.button {
    cursor: pointer;
    background-color: $color-lighter;
    color: white;
    border-radius: 0;
    border: none;
    padding: 0.5em 1em;
    transition: background-color 0.2s;
}
    

.button:hover {
    background-color: $color;
}
    

.button:focus {
    outline: $outline;
}
    

.input {
    border: 1px solid $color-lighter;
    border-radius: 0;
    padding: 0.5em 1em;
}
    

.input:focus {
    outline: $outline;
}
   
